<div class="container">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar><mat-icon>safety_check</mat-icon></div>
            <mat-card-title>{{'AUTH_SIGNIN_TITLE_MFA_REQUIRED' | translate}}</mat-card-title>
            <mat-card-subtitle>{{user_sign_in_info.username}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <mat-form-field appearance="fill">
                        <mat-label>{{'AUTH_SIGNIN_AUTH_CODE' | translate}}</mat-label>
                        <input matInput formControlName="auth_code" />
                        <mat-error *ngIf="f.auth_code.errors">{{'AUTH_ERROR_MISSING_AUTH_CODE' | translate}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="actions">
                    <button mat-flat-button [class.spinner]="loading"  [disabled]="loading || expired_token || failed_attempts_reached" color="primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        {{'AUTH_SIGNIN_ACTION_LOGIN' | translate}}
                    </button>
                    <!-- <button *ngIf="false" mat-flat-button >Register</button> -->
                </div>

                <div class="messages" *ngIf="submitted && signin_error">
                    <div class="message" ><mat-icon>not_interested</mat-icon> <span>{{'AUTH_ERROR_INVALID_AUTH_CODE' | translate}}</span></div>
                </div>
                <div class="messages" *ngIf="submitted && server_error">
                    <div class="message" ><mat-icon>not_interested</mat-icon> <span>{{'AUTH_ERROR_SERVER_ERROR' | translate}}</span></div>
                </div>
                <div class="messages" *ngIf="submitted && expired_token">
                    <div class="message" ><mat-icon>not_interested</mat-icon> <span>{{'AUTH_ERROR_EXPIRED_TOKEN' | translate}}</span></div>
                </div>
                <div class="messages" *ngIf="submitted && failed_attempts_reached">
                    <div class="message" ><mat-icon>not_interested</mat-icon> <span>{{'AUTH_ERROR_FAILED_ATTEMPS_REACHED' | translate}}</span></div>
                </div>

                <div class="options">
                    <span class="option" (click)="onSwitchUser()">{{'AUTH_SIGNIN_ACTION_SWITCH_USER' | translate}}</span>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
    <div>
        <div class="sb-logo"></div>
    </div>
</div>
